-server
-Xmx4G
-XX:InitialRAMPercentage=40
-XX:MaxRAMPercentage=80
-XX:G1HeapRegionSize=32M
-XX:+UseG1GC
-XX:+ExplicitGCInvokesConcurrent
-XX:+HeapDumpOnOutOfMemoryError
-XX:+ExitOnOutOfMemoryError
-Djdk.attach.allowAttachSelf=true
-Dsun.reflect.debugModuleAccessChecks=false
-Djdk.module.illegalAccess.silent=true
